html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  
  /* Center children horizontally and vertically */
  display: flex;
  flex-direction: column; /* stack vertically */
  justify-content: center; /* vertical center */
  align-items: center; /* horizontal center */
  min-height: 100vh; /* full viewport height */
  
  text-align: center;
}
